{% extends "base.html" %}
{% load static %}
{% block content %}

<body>
    {% include 'header1.html' %}
    <div class="container">
    <div class="card-columns">
      <div class="card">
        {% load static %}
        
        <img class="card-img-top" src="{% static 'img/isolated PIP ext.JPG' %}" alt="Card image cap">
        <img class="card-img-top" src="{% static 'img/DIP flex1.JPG' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">手部運動</h4>
          <p class="card-text">1.抓住您受傷的手指。您的拇指將位於手指頂端靠近指甲最近的關節的上方。
            2. 慢慢的在靠近指甲最近的關節處彎曲您受傷的手指。保持約5-10秒。 重複5到10次。
            
            </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <img class="card-img-top" src="{% static 'img/a1.jpg' %}" alt="Card image cap">
            <p>利用按壓根或推物的動作讓手指伸直</p>
          </blockquote>
        </div>
        <div class="card">
          {% load static %}
          
          <img class="card-img-top" src="{% static 'img/mp ext.JPG' %}" alt="Card image cap">
          <img class="card-img-top" src="{% static 'img/mp ext1.JPG' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">手部運動</h4>
            <p class="card-text">1.握著受傷的手, 讓手指由握拳狀變成鉤狀。
              2.放鬆然後重複5到10次。
              </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-light p-3 text-center">
          <blockquote class="blockquote mb-0">
            <img class="card-img-top" src="{% static 'img/down.jpg' %}" alt="Card image cap">
            <p>手指按壓活動透過輔具</p>
            
          </blockquote>
        </div>
        <div class="card">
          {% load static %}
          
          <img class="card-img-top" src="{% static 'img/towel grab.JPG' %}" alt="Card image cap">
          <img class="card-img-top" src="{% static 'img/towel grab1.JPG' %}" alt="Card image cap">
          <img class="card-img-top" src="{% static 'img/towel squeeze.JPG' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">居家活動</h4>
            <p class="card-text">握毛巾活動 手指由伸直到彎曲的動作</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card bg-info">
          <img src="{% static 'img/f1.JPG' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">指部運動</h5>
            <p class="card-text">由食指、中指、無名指到小指，依顺序将拇指指尖與其她四指指尖碰觸</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-info">
          <img src="{% static 'img/f2.JPG' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">指部運動</h5>
            <p class="card-text">由食指、中指、無名指到小指，依顺序将拇指指尖與其她四指指尖碰觸</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-info">
          <img src="{% static 'img/f3.JPG' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">指部運動</h5>
            <p class="card-text">由食指、中指、無名指到小指，依顺序将拇指指尖與其她四指指尖碰觸</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-info">
          <img src="{% static 'img/f4.JPG' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">指部運動</h5>
            <p class="card-text text-muted">由食指、中指、無名指到小指，依顺序将拇指指尖與其她四指指尖碰觸</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="card-columns">
      <div class="card">
        {% load static %}
        
        <img class="card-img-top" src="{% static 'img/grip5.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">阻力性運動</h4>
          <p class="card-text">鎖螺絲訓練小肌肉力量</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
        <div class="card bg-warning p-3">
          <blockquote class="blockquote mb-0 card-body">
            <img class="card-img-top" src="{% static 'img/grip6.jpg' %}" alt="Card image cap">
            <p>利用拉伸彈力繩藉以訓練指間肌力</p>
          </blockquote>
        </div>
        <div class="card">
          {% load static %}
          
          <img class="card-img-top" src="{% static 'img/grip2.JPG' %}" alt="Card image cap">
          <img class="card-img-top" src="{% static 'img/grip3.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">阻力性運動</h4>
            <p class="card-text">夾物來增進手指肌力</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-light p-3 text-center">
          <blockquote class="blockquote mb-0">
            <img class="card-img-top" src="{% static 'img/grip4.jpg' %}" alt="Card image cap">
            <p>利用剪不同厚度的紙訓練指間肌力</p>
            
          </blockquote>
        </div>
        <div class="card">
          {% load static %}
          
          <img class="card-img-top" src="{% static 'img/grip.JPG' %}" alt="Card image cap">
          <img class="card-img-top" src="{% static 'img/grip1.JPG' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">阻力性運動</h4>
            <p class="card-text">各式握力器以增進手指握力</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include 'footer.html' %}

</body>
{% endblock %}