{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>感謝填寫</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .register-container {
            margin-top: 50px;
        }
        .card {
            border-radius: 10px;
        }
    </style>
</head>
<body>
    {% include 'header1.html' %}
<div class="container register-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>感謝填寫</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <h1>感謝您的填寫！</h1>
                        <p>您的問卷已成功提交。</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron mt-3">
        <h1>會員註冊</h1>
        <p class="lead">本教學平台註冊採用講師mail認證方式，註冊完後請利用下方按鈕認證</p>
        <a class="btn btn-lg btn-primary" href="https://mail.google.com/mail/?view=cm&fs=1&to=rehand2024@gmail.com&cc=m1016m@gmail.com&su=我想申請成為平台會員&body=請協助申請" role="button" target="_blank">寄信給講師 &#187;</a>
        <p>歡迎各位同學加入會員</p>
    </div>
</div>
{% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
